:root
{
    --text-color:#fff;
    --header-color:#22242A;
    --menu-color:#272a30;
    --height-header:7rem;
}
*,*:after,*:before
{
    box-sizing: border-box;
}
html
{
    font-family: "Poppins",sans-serif;
    font-size: 62.5%;

}
.app
{
    width: 100%;
    height: 100%;
}
.header
{
    position: fixed;
    height: var(--height-header);
    width: 100%;
    background-color:var(--header-color);
    z-index: 2;
}
.header__logo
{
    display: inline-block;
    padding-left: 2rem;
    color: var(--text-color);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 7rem;
}
.header__logo span
{
    color: #19b3d3;
    padding-left: 0.3rem;
}
.header__menu
{
    display: inline-block;
    color: var(--text-color);
    line-height: 7rem;
    margin-left:2rem;
    font-size: 2.4rem;
    transition: 0.4s;
    cursor: pointer;
}
.header__login button
{
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10%;
    height: 3rem;
    width: 7rem;
    background-color: #19b3d3;
    font-size: 1.5rem;
    outline: none;
    border: 0;
    color: var(--text-color);
    font-weight: 400;
 
}
.menu__big
{
    height: 100vh;
    width: 6rem;
    background-color: #2f323a;
    padding-top: var(--height-header);
    /* transform: translateX(-18rem); */
    transition: 0.4s;
    top: 0;
  
}
.menu__list
{
    display: none;
    list-style: none;
    padding-left: 0;
    margin: 0;
    transition: 0.4s;
}
.menu__item
{
    padding-left: 3.5rem;
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 300;
    padding: 2rem 3.5rem; 
 
}
.menu__item i{
    padding-right: 0.5rem;
}
.menu__item:not(:first-child):hover{
    background-color:#19b3d3;
    cursor: pointer;
}

.menu__item span
{
    color:#c7c7c7;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    width: 100%;
    display: block;
}
.menu__img
{
    width: 10rem;
    height: 10rem;
    display: block;
    border-radius: 50%;
    margin: 1rem auto;
}
.menu__mini
{
    padding-top: 3rem;
}   
.menu__mini--list
{
    list-style: none;
    padding-left: 0;
    margin: 0;
    z-index: 1;
    transition: 0.4s;
}
.menu__mini--item
{
    padding-left: 20rem;
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 300;
    padding: 2rem 0rem 2rem 2rem;
 
    transition: 0.4s;
}
.menu__mini--item:hover
{
    background-color:#19b3d3;
    cursor: pointer;
}
.content
{
    display: flex;
    width: 100%;
}
.main
{
    transition: 0.4s;
    height: 100%;
    width:100vw;
    padding-top: 7rem;
    /* transform: translateX(-18rem); */
    background-image:linear-gradient(45deg,rgba(253, 253, 253, 0.548),rgba(87, 166, 219, 0.719)),url("../img/1.jpg");
    background-position: center;
    background-size: contain;

}
.noidung
{
    width: 80%;
    height: 100%;
    margin: 5rem auto;
    color:#000000;
}
.noidung h1
{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 6rem;
}
.noidung p{
    font-size: 3rem;
}